/* ==========================================================================
 @Cenpes/Petrobras
 @Code by Front End Team [BWR0, BE1E, BE5B, B2G4]
 @Description: Folha de estilo principal do Projeto SGPB
 @versão: 1.0
 @since december/2012
========================================================================== */

body {
	font-family: "Trebuchet MS";
	font-size: 62.5%;
    line-height: 1.4;
    min-width:720px; /*revisar esse valor*/
    background-color: #fafbfb;
}

li {
	list-style: none;
}

form {
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
	margin: 0;
}

h2 {
	display: inline-block;
	font-size: 18px;
	color:#018fb0;
}

h3 {
	font-size: 16px;
	color: #018fb0;
	padding-bottom: 8px;
}

h5,
legend, span.legend {
	color:#018fb0;
	font-size:14px;
}

ul, ol, dl {
	margin: 0;
}

i {
	color:#666;
	font-size: 1.1em;
	line-height: 30px;
}

input, input[type="text"], button, select, textarea {
	margin-bottom: 25px;
	color:#666;
	font-family: "Trebuchet MS";
	font-size: 1.2em;
}

body.home form.login input[type="text"],
body.home form.login input[type="password"] {
	color: #fff;
}

body.home form.login input[type="text"] {
	text-transform: uppercase;
}

input[type="text"], textarea {
	text-indent: 1em;
}

input[type="text"], select, textarea {
	border-color: #999 !important;
}

select, textarea {
	border-color:#999;
}

label {
	margin-bottom:0;
	position: relative;
	color:#018fb0;
	font-size:1.2em;
	font-weight:bold;
}

legend, span.legend {
	width:100%;
	display:block;
	border:0;
	margin-bottom:20px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e5e5e5;
	border-color:#b9c8cc;
	font-weight:bold;
	line-height:inherit;
}

hgroup,
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
	display: inline-block;
}

hgroup h5 {
	color:#018fb0;
}



a {
	color: #5aa5c0;
}
a:hover {
	color: #5aa5c0;
	text-decoration: none;
}


/* ==========================================================================
	margens
========================================================================== */
.mg-top-30 {
	margin-top: 30px;
}

.mg-top-40 {
	margin-top: 40px;
}

.mg-bottom-16 {
	margin-bottom:16px;
}

.mg-bottom-30 {
	margin-bottom:30px;
}

.mg-bottom-20 {
	margin-bottom:20px;
}

.mg-bottom-25 {
	margin-bottom:25px;
}

.mg-right-5 {
	margin-right:5px;
}


/* ==========================================================================
	padding
========================================================================== */
.pd-all-20 {
	padding:20px
}

.pd-right-21 {
	padding-right:21px !important;
}


/* ==========================================================================
	Topo/Logo
========================================================================== */
.logo-petrobras {
	width:99px;
	height:21px;
	position:absolute;
	right:77px;
	top:25px;
	background-image: url(../img/logo_petrobras.png);
}

header .logo-petrobras {
	right:0;
	top:70px;
}

header {
	width:100%;
	height:117px;
	background-color:#033649;
}

.logo {
	width:161px;
	height:68px;
	top:20px;
	background-image: url(../img/logo.png);
}

.select-cycle {
	left:178px;
	top:59px;
}

header a.logout {
	position: absolute;
	right: 0;
	top: 15px;
	font-size: 1.1em;
	text-decoration: underline;
}
header a.logout:hover {
	text-decoration: none;
}

.navigation {
	background-color:#28bbdd;
	border-bottom: 2px #fff solid;
}

.navigation a {
	text-decoration: none;
	color:#00374b;
}
.navigation nav a {
	float:left;
	display:block;
	margin: 0;
	padding: 8px 16px;
	color:#fff;
	font-size: 1.3em;
	border: 1px solid #159dbc;
}
.navigation nav a:hover,
.menu-admin:hover {
	background-color: #24accb;
}
.navigation nav a:active,
.menu-admin:active
 {
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
}
.navigation nav a.menu-active:hover,
.menu-admin.menu-active:hover {
	background-color: transparent;
}

.box-notification-menu {
	float:right;	
}

.box-notification-menu .btn-group.open .dropdown-toggle {
	box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
}

.box-notification-menu li {
	display:inline-block;
	padding: 3px 0;
}

.navigation .notification {
	padding:0 25px;
	font-size:1.1em;
}

.navigation .notification ul {
	border-bottom: 1px #cc4600 solid;
}

.navigation .notification ul li {
	width:305px;
	padding:6px 0 6px 15px;
	border-top: 1px #cc4600 dotted;
	color:#fff;
	font-size: 11px;
	white-space: normal;
	line-height:1.2em;
	list-style: none;
}

.menu-admin {
	width: 85px;
	height: 30px;
	position: relative;
	line-height: 22px;
	border-right: 1px solid #159dbc;
	border-left: 1px solid #159dbc;
}
.menu-admin a {
	font-size:1.3em;
	color:#fff;
	padding-top: 2px;
	padding-left: 30px;
	display: block;
}

.menu-active {
	   -moz-box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
		 -o-box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
			box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}


/* ==========================================================================
	Boxes/larguras
========================================================================== */
.box-full {
	width:100% !important;
}

.box-460 {
	width:460px;
}

.box-700 {
	width:700px;
}

.box-720 {
	width:720px;
}

.box-190 {
	width: 190px;
}

.box-140 {
	width:140px;
}

.box-300 {
	width: 300px;
}

.box-305 {
	width: 305px;
}

.box-312 {
	width: 312px;
}

.box-318 {
	width:318px;
}

.box-405 {
	width:405px;
}

.box-450 {
	width:450px;
}

.box-460 .box.box-140  {
	margin-right:20px;
}

.box input[type="text"],.box select {
	width:100%;
	height:26px;
}

.box textarea {
	width:100%;
	height:93px;
}

.box-form {
	width: 668px;
	margin-bottom: 20px;
	background-color: #edf2f3;
	border:1px #b9c8cc solid;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

/*
*provisoria
*as linhas abaixos que contem a classe .box-w75percent são provisorias
*foi inserida a classe .box-w75percent apenas para evitar que prejudique outras seções
*deve ser removida após a validacao
*/
.box-w75percent .box-form {
	width:99.8%;
}

.box-w75percent .box-form input,
.box-w75percent .box-form select {
	margin-bottom:25px;
}


.box-form .padding {
	padding:20px;
}

.box-form input, .box-form textarea {
	padding:0;
}

.w55 {
	width:55px;
}

.w60 {
	width:60px;
}

.w78 {
	width:78px;
}

.w80 {
	width:80px;
}

.w91 {
	width:91px;
}

.w96 {
	width:96px;
}

.w110 {
	width:110px;
}

.w114 {
	width:114px;
}

.w118 {
	width:118px
}

.w125 {
	width:125px;
}

.w135 {
	width:135px;
}

.w148 {
	width:148px;
}

.w160 {
	width:160px;
}

.w165 {
	width:165px;
}

.w180 {
	width:180px;
}

.w232 {
	width:232px;
}

.w235 {
	width:235px;
}

.w240 {
	width:240px;
}

.w250 {
	width:250px;
}

.w270 {
	width:270px;
}

.w310 {
	width:310px;
}

.w385 {
	width:385px;
}

.w435 {
	width:435px;
}

.w718 {
	width:718px;
}

.w910 {
	width:910px;
}

.w30percent {
	width:30%;
}

.w70percent {
	width:70%;
}

.w95percent {
	width:95%;
}

.box-fluid-half {
	width:47%;
}

.box-w20percent {
	width: 20%;
}
.box-w75percent {
	width: 75%;
}


/* ==========================================================================
	Side
========================================================================== */
.aside {
}

nav.menu-side {
	width: 20%;
}

nav.menu-side a {
	width:100%;
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

nav.menu-side a span,
nav.menu-side ul.nav li a {
	display: block;
	padding-left: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav.menu-side a:hover,
nav.menu-side a.active,
nav.menu-side ul.nav li a:hover,
nav.menu-side ul.nav li.active a {
	background-color: #ff8400;
	color:#fff;
	text-decoration: none;
}
nav.menu-side a:hover,
nav.menu-side ul.nav li a:hover {
	background-color: #f3f6f6;
	color:#666;
}
nav.menu-side a:active,
nav.menu-side ul.nav li a:active {
	background-color: #e7eeee;
	color:#666;
}
nav.menu-side ul.nav li.active a {
	background-color: #ff8400;
	color: #fff;
}
nav.menu-side ul.nav {
	border:none;
}
nav.menu-side a.active:hover,
nav.menu-side ul.nav li a.active:hover {
	background-color: #ff8400;
	color: #fff;
}

nav.menu-side ul.nav li a {
	width:auto;
	margin: 0;
	background:none;
	border:none !important;
}

nav.menu-side ul.nav li {
	margin:0;
	clear:both;
	float:none;
	line-height:inherit;
}

.infor-side {
	background-color:#edf2f3;
	border:1px #b9c8cc solid;
}

.infor-side dl {
}

.infor-side dt {
	margin-bottom:16px;
	color:#018fb0;
	font-size:1.4em;
	line-height:14px;
}

.infor-side dt img {
	margin-left:5px;
	vertical-align:bottom;
}

.infor-side dd {
	margin-left:0;
	margin-top:11px;
	color:#666;
	font-size:1.1em;
	line-height:1.4em;
}
.infor-side dd strong {
	font-weight: bolder;
}


/* ==========================================================================
	Tela de login
========================================================================== */

form.login  {
	width:870px;
	height:405px;
	margin: 0 auto;
	background: url(../img/login_logo.png) no-repeat;
}

body.home {
	background-color:#011f2a;
}

body.home form.login div.box-login {
	padding-top:314px;
	float:right;
}

body.home form.login fieldset {
	display:block;
	float:left;
	margin-right:3px;
}

body.home form.login label {
}

body.home form.login input.field {
	width:115px;
	height:22px;
	margin: 0 10px 0 0;
	background-color:#033649;
	border: 1px #000 solid!important;
}

#msg-feedback {
	color: #d68000;
	font-style: italic;
	font-size: 14px;
	margin-top: 20px;
}

/* ==========================================================================
	Tela de login
========================================================================== */


/* ==========================================================================
	Listas
========================================================================== */
.list-model1 {
	/*width: 338px;*/
}

.list-model1 li {
	height: 23px;
	padding-top: 7px;
	border-bottom: 1px dashed #93c1d2;
	color: #018fb0;
	font-size: 11px;
	text-indent: 8px;
	opacity: 0.4;	
	-moz-opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=40);
}

.list-model1 li:hover, .list-model1 li.active {
	background-color: #d5e7ef;
	-moz-opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


/* ==========================================================================
	Botões
========================================================================== */
.btn {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-shadow: none;
	/*margin-right:7px;*/
	margin-right: 4px;
}
.btn:hover {
	color: #fff;
	background-position: 0 -28px;
	transition: background-position .1s linear;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
}
.btn-submit-approval {
}
.btn-cancel {
	color: #7d949a;
	background-image:         linear-gradient(to bottom,#fff,#cddcdf);
	background-image:    -moz-linear-gradient(to bottom,#fff,#cddcdf);
	background-image: -webkit-linear-gradient(to bottom,#fff,#cddcdf);
}
.btn-cancel:hover {
	background-color: #cddcdf;
	background-position: 0 -30px;
	color: #7d949a;
	-webkit-transition: none;
	        transition: none;
}
.btn-new-discipline {
}
.btn-orange {
	border: 1px #d55f00 solid;
	background-color: #ffb400;
	background-image: linear-gradient(bottom,#ff7e00,#ffb400);
	background-image: -webkit-linear-gradient(bottom,#ff7e00,#ffb400);
	background-image: -moz-linear-gradient(bottom,#ff7e00,#ffb400);
	background-image: -o-linear-gradient(bottom,#ff7e00,#ffb400);
}
.btn-orange:hover {
	background-color: #ff8200;
}
.btn-secundary {
	border: 1px #bcc3c5 solid;
	color: #7d949a;
	background-color: #cddbde;
	background-image: linear-gradient(top,#fff,#cddbde);
	background-image: -webkit-linear-gradient(top,#fff,#cddbde);
	background-image: -o-linear-gradient(top,#fff,#cddbde);
}

body.home form.login input.btn {
	display:inline-block;
	margin-top: 21px;
	border: 1px #006278 solid;
	background-color: #0184A2;
	background-image: linear-gradient(bottom,#0184A2,#28BBDD);
	background-image: -webkit-linear-gradient(bottom,#0184A2,#28BBDD);
	background-image: -moz-linear-gradient(bottom,#0184A2,#28BBDD);
	background-image: -o-linear-gradient(bottom,#0184A2,#28BBDD);
	height: 29px;
}
.btn-new-cycle {
	position:relative;
	top:-7px;
	padding: 4px 8px;
	width: 135px;
}
.btn-add {
	margin:4px 0 0;
	float:left;
	background-color:transparent;
	border:none;

}
.btn-delete {
	background-image: url(../img/icone_excluir_vermelho.png);
	height:16px;
	width:16px;
}

input[disabled], textarea[disabled], select[disabled], button[disabled], a[disabled] {
	background: #e6e6e6 !important;
	border: 1px solid #c6c6c6 !important;
	color: #9c9c9c !important;
	text-shadow: none !important;
	cursor: default;
}


/* ==========================================================================
	Geral
========================================================================== */
.container {
	/*width:940px;*/
	margin: 0 auto;
}

.content {
	/*apenas para simular uma continuidade ao final da página, pode ser removido*/
	padding-bottom:50px;
	background-image: url(../img/bg_gradiente.png);
	background-repeat: repeat-x;
}

.box-title {
	width:auto;
	height:auto;
	padding: 30px 0 15px;
	margin-bottom: 35px;
	border-bottom: 1px #ccc solid;
}

.box-title hgroup h2.no-bold {
	color: #73adba;
}

.box-title ul li {
	display: inline-block;
	color: #018fb0;
	font-size: 1.2em;
	font-weight: bold;
}

.search-top {
	position: relative;
	top:-4px;
}

.search-top label {
	line-height: 30px;
	vertical-align: middle;
}

.search-top select {
	margin: auto 5px;
}

.box-title label {
	font-size: 1.8em;
}

.box-input-check {
	height:105px;
	background-color:#fff;
	border: 1px #999 solid;
}

.box-input-check.no-register {
	background-color:#c9cccd;
}

.box-input-check fieldset {
	margin-bottom:11px;
}

.box-w75percent .box-form .box-input-check  input {
	display:inline-block;
	float:left;
	margin:0 7px 0 0; /*margin-bottom:8px;*/
}

.box-input-check label {
	display:inline-block;
	float:left;
	color:#666;
	font-weight:normal;
	line-height: 13px;
	vertical-align:middle;
}

.form-default {
	overflow:hidden;
}

.form-default input[type="text"] {
	margin:0;
}

.form-profissional fieldset {
	margin-left:0;
}

/*alteração dos valores do bootstrap por questões de ajuste das
*larguras dos campos no formulário de profissional
*/
.form-profissional .span4 {
	width:400px;
}

.form-profissional .span2 {
	width:192px;
}

fieldset.add, 
div.add {
}

fieldset.add label,
div.add span {
	line-height:30px;
}

.label-check {
	font-size: 1.2em;
}

/* Mensagem de Aprovação */
.aguardando-aprovacao {
	margin-bottom: 30px;
	padding-left: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #d06200;
	background: url(../img/icone_atencao.png) 0 1px no-repeat;
}


/* ==========================================================================
	accordion
========================================================================== */
.accordion {
	border-bottom: 1px #bfc7c9 solid;
	margin-top:8px;
}

.accordion-group {
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: 0;
	border-color: #bfc7c9;
}

.accordion-group.hover, .accordion-group.on {
	border-top-color: #8b9fa5;
	border-right-color: #8b9fa5;
	border-left-color: #8b9fa5;
}

.accordion-heading {
	padding:16px 12px 16px 20px;
	position: relative;
	background-color: #edf3f3;
}

.accordion-group.hover .accordion-heading {
	background-color: #fff;
}

.accordion-group.hover .accordion-heading a.accordion-toggle {
	color:#0fa1c3;
	text-decoration: none;
}

.accordion-heading a.accordion-toggle {
	padding:0;
	color:#356978;
	font-size:1.5em;
	font-weight:bold;
}

.accordion-heading .accordion-options {
	left: -37px;
	top: -1px;
	background-color:#b7cad0;
	border-left: 1px #8f9da0 solid;
	border-top: 1px #8f9da0 solid;
	border-bottom: 1px #8f9da0 solid;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.accordion-options {
	width:35px;
	position:absolute;
}

.box-form .accordion-options {
	right:-37px;
	top:-1px;
	background-color: #d7e0e3;
	border-right: 1px #b9c8cc  solid;
	border-top: 1px #b9c8cc  solid;
	border-bottom: 1px #b9c8cc  solid;
	border-bottom-right-radius: 2px;
		-moz-border-right-radius:2px;
		-o-border-right-radius:2px;
	border-top-right-radius: 2px;
		-moz-border-top-right-radius: 2px;
		-o-border-top-right-radius: 2px;
}

.accordion-heading .accordion-options {
	display:none;
}

.accordion-heading .closed .accordion-options {
	display:none;
}


/* ==========================================================================
	tabs
========================================================================== */
.nav-tabs > li > a {
	font-size: 1.1em;
	font-weight:bold;
	background-color:#dee5e7;
	border-right: 1px #c7c9c8 solid !important;
	border-left: 1px #c7c9c8 solid !important;
	border-top: 1px #999 solid !important;
	color:#59838f;
	-moz-border-radius: 2px 2px 0 0;
	  -o-border-radius: 2px 2px 0 0;
		 border-radius: 2px 2px 0 0;
	line-height: normal;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	color:#187d96;
}

/*
checar isso
.tab-content {
	padding:0 20px;
}*/

.tab-content ul {
	padding-bottom: 15px;
	width:80%;
}

.tab-content ul li,
.tab-content dl,
.tab-content p {
	color:#043141;
	font-size: 1.1em;
}

.tab-content dl {

}

.tab-content dd {
	margin-left: 0;
}

.tab-content p {
	line-height: 20px;
}

.nav-tab-professional.nav-tabs {
	margin-bottom: 40px;
	border-bottom: 7px solid #FF8400;
}

.nav-tab-professional.nav-tabs > li {
	float:right;
}

.nav-tab-professional.nav-tabs > li > a {
	margin-right:0;
	color:#018fb0;
	font-weight:bold;
	background-color:transparent;
	border: 0 !important;
	border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
}

.nav-tab-professional.nav-tabs > li > a:hover, .nav-tab-professional.nav-tabs > li.active > a {
	color:#fff;
	background-color:#FF8400;
}

.nav-tab-professional li h3 {
	padding:7px 0 0;
}

ol.table.discipline {
	display:block;
	width:auto;
}

ol.table.discipline.absolute {
	top:0;
	right:0;
}

ol.table.discipline li {
	width:190px;
	margin:1px 0;
	padding:4px 10px;
	font-size:1.1em;
	background-color:#f00;
}

ol.table.discipline li.criticidade {
	background-color:#bfe95a;
	color:#356b09;
}

ol.table.discipline li.estrategico {
	background-color:#f3ea56;
	color:#995607;
}

ol.table.discipline li.impacto {
	background-color:#f29f9f;
	color:#a32f2f;
}


/* ==========================================================================
	disciplinas
========================================================================== */
.infor-disciplina {
	color:#5AA5C0;
	font-size:1.4em;
}


/* ==========================================================================
	icones
========================================================================== */
.navigation a.dropdown-toggle span.ico {
	width:18px;
	height:20px;
	display:inline-block;
	position:relative;
	top: 0;
	color:#fff;
	font-size:9px;
	text-align: center;
	background-image: url(../img/sprite_balao_notificacoes.png);
	background-position: 0 3px;
	background-repeat: no-repeat;
}

.navigation .open a span.ico {
	background-position: 0 -20px;
	color:#00374B;
}

.menu-admin  .ico {
	width:13px;
	height:13px;
	display:inline-block;
	position:absolute;
	left: 10px;
	top:10px;
	background: url(../img/icone_menu_admin.png);
}

.ico-list {
	width:16px;
	height:16px;
	margin-right: 10px;
	display: inline-block;
	background-image: url(../img/sprite_icone_voltar_listagem.png);
	background-repeat: no-repeat;
}

.ico-list:hover {
	background-position: 0 -16px;
}

.accordion-heading a span.ico-more-less {
	width:18px;
	height:20px;
	position: absolute;
	right:15px;
	top:15px;
	background-image: url(../img/sprite_collapse_disciplinas.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.accordion-group.hover span.ico-more-less {
	background-position: 0 -20px;
}

.accordion-group.on span.ico-more-less {
	background-position: 0 -40px;
}

.accordion-group.on.hover span.ico-more-less {
	background-position: 0 -60px;
}

.accordion-heading .accordion-options .ico {
	width:16px;
	height:16px;
	padding: 8px 10px;
	background-repeat: no-repeat;
	background-position: 9px 8px;
}

.ico-edit {
	background-image: url(../img/icone_editar.png);
}

.ico-delete {
	background-image: url(../img/icone_excluir_azul.png);
}

.ico-delete.ico-red {
	background-image: url(../img/icone_excluir_vermelho.png);
}

.form-conhecimento-tecnicos .ico-delete {
	display:inline-block;
	position:absolute;
	bottom:-5px;
	right:5px;
	background-image: url(../img/icone_excluir_vermelho.png);
}

.ico-tooltip {
	width:15px;
	height: 15px;
	background-image: url(../img/icone_tooltip.png);
	display: inline-block;
	position: absolute;
	right: 0;
	top:0;
	line-height: 16px;
}

.ico-arrow-right {
	width:16px;
	height: 16px;
	display: inline-block;
	background-image: url(../img/icone_subtitulo_secao.png);
	position: relative;
	top: 2px;
}

form .ico,
table .ico {
	width: 16px;
	height: 16px;
	margin: 10px auto;
	border: none;
	background-color: transparent;
	background-repeat:no-repeat;
}

table td.td-ico .ico {
	width:0px;
}

table .ico {
	margin: 0 auto;
}

.ico-cycle-delete {
	background-image: url(../img/icone_excluir_circulo_vermelho.png);
}

.ico-cycle-add {
	background-image: url(../img/icone_adicionar.png);
}

.form-conhecimento-tecnicos .ico-cycle-add {
	margin: 30px 0 0 10px;
}

form.area-de-conhecimento .box-form .accordion-options .ico-cycle-add {
	display:none;
}

form.area-de-conhecimento fieldset.box-fluid-half {
	/*
	*apenas os campos na tela de cadastrar area de conhecimento possuem esse valor
	*corrigindo o erro de margem que geraria se mantivesse em 47%
	*/
	width:49%;
	display:inline-block;
}

fieldset.box-form.last .accordion-options .ico-cycle-add {
	display:block;
}

.checked {
	background-image: url(../img/icone_acompanhamento_aprovado.png);
}

.lock {
	background-image: url(../img/icone_acompanhamento_cadeado_fechado.png);
}

.unlock {
	background-image: url(../img/icone_acompanhamento_cadeado_aberto.png);
}

.waiting {
	background-image: url(../img/icone_acompanhamento_ampulheta.png);
}


/* ==========================================================================
	tabelas
========================================================================== */
/*zebrado*/
table tr.impar {
	background-color:#f3f6f6;
}

table {
}

.table-style-one {
	width:100%;
}

table thead {
	background-color:#08465d;
	color:#fff;
	font-size:1.2em;
}

table thead th {
	height:28px;
	border-left: 1px #00212d solid;
	border-right: 1px #00212d solid;
	line-height:18px;
	text-align:left;
	vertical-align:middle;
}

table tbody td {
	border:1px #b9c8cc solid;
	color:#666;
	font-size:1.1em;
	text-align:left;
	vertical-align:top;
}

table tbody td select {
	font-size:1.1em;
}

table span.padding {
	display:block;
	padding:10px;
}

table tr.selected {
	background-color: #ffdf99;
}
table tr.selected td {
	border-right-color: #e0b75e;
	border-left-color: #e0b75e;
}

table tr {
}

.table-style-two tbody td:first-child span a, .table-style-two tbody td:first-child span {
	color:#ff8400;
	font-size:12px;
	text-decoration:underline;
}

.table-style-two tbody tr {
	height:46px;
}

.table-style-two td {
	vertical-align:middle;
}

table tr select, table tr input[type="text"] {
	margin:0;
}

table .single-action {
	width: 40px;
	text-align: center;
}

.tab-content .table-style-one dl {
	margin-left:0;
}

.tab-content .table-style-one dl dt {
	color:#666;
	line-height: inherit;
}

.tab-content .table-style-one dl dd {
	font-size:11px;
}


.table-style-one td {
	vertical-align: middle;
}

.table-style-one td a {
	text-decoration: underline;
	padding: 10px;
}

.table-style-one .td-ico a {
	padding:0 7px;

}

.td-ico .padding {
	padding: 10px 5px;
}

.table-style-one td a:hover {
	text-decoration: none;
}

caption {
	width:100%;
}

.table-cycles {
	width:100%;
	margin-top:22px;
}

.table-cycles thead th {
	height:auto;
}

.table-cycles tbody tr td:first-child {
	color:#018fb0;
}


/* ==========================================================================
	legenda
========================================================================== */
dl.legend {
}

dl.legend dt {
	color:#018fb0;
	font-size:1.4em;
}

dl.legend dd {
	padding-left:30px;
	color:#666;
	font-size:1.2em;
}

ul.legend {
}

ul.legend li {
	display:inline;
	margin-right:40px;
	font-size:12px;
	vertical-align:middle;
}

ul.legend li img {
	margin-right:5px;
}

/* ==========================================================================
	modal
========================================================================== */
.modal.in.modal-740x590 {
	width:740px;
	height:590px;
	margin-left:-370px;
	top:42%;
}

.modal.in.modal-740x590 .modal-body {
	padding:0;
	min-height:350px;
}

.modal.in.modal-740x590 .modal-header {
	margin-bottom:35px;
	padding:0;
}

.modal-910x450 {
	width:910px;
	height:450px;
	margin-left:-455px;
}

.modal-910x450 .modal-body {
	max-height:344px;
}

.modal-recusa {
	width:750px;
	height:350px;
	margin-left:-375px;
}
.modal-recusa .modal-header {
	width: 93%;
	border-bottom: 0;
}
.modal-recusa .modal-header h3 {
	border-bottom: 1px solid #eee;
}

.modal-footer {
	background-color: transparent;
	padding-top: 0;
	border-top: 0;
}


/* ==========================================================================
	acompanhamento
========================================================================== */
.accordion-group .accordion-heading ul.status {
	width:70px;
	height:53px;
	display:block;
	float:left;
	margin-right:17px;
}

.accordion-group .accordion-heading ul.status li {
	width:34px;
	height:53px;
	display:block;
	float:left;
	border-right:1px #dce3e5 solid;
}

.accordion-group .accordion-heading ul.status li span {
	width:16px;
	height:16px;
	display:block;
	margin:16px 8px 0;
}

.accordion-heading .padding {
	padding: 16px 12px 16px 20px;
}

.accordion-acompanhamento .accordion-heading .padding {
	padding: 0 12px 0 20px;
}

.accordion-acompanhamento .accordion-heading a.accordion-toggle {
	padding: 16px 0;
}

.modal-recusa textarea {
	width:95%;
	height:100px;
}


/* ==========================================================================
	forms
========================================================================== */
.form-style-inline {
}

.form-style-inline select {
	width:254px;
	display:inline-block;
	margin-bottom:0;
	margin-left:5px;
}

.form-style-inline label {
	display:inline-block;
	line-height:28px;
	text-align:right;
	vertical-align:middle;
}

.form-style-inline .box-full {
	margin-top:21px;
}

.form-style-inline fieldset.box-318 {
	margin-right:30px;
}

.form-style-inline fieldset.box-318 label {
	display:block;
	padding-bottom:4px;
	line-height:inherit;
	text-align:left;
}

.form-style-inline fieldset.box-318 select {
		width:316px;
	margin-left:0;
}

.form-style-inline fieldset.box-fluid-half label {
	width:182px;
}

.form-style-inline fieldset.box-fluid-half select {
	float:right;
	width:340px;
}

.form-style-inline fieldset.box-fluid-half fieldset {
	margin-bottom:7px;
}

.form-style-21 {
}

.form-style-21 input {
	margin:0;
}

.form-style-21 em {
	display:block;
	color:#018fb0;
	font-size:1.2em;
	font-style:normal;
	font-weight:bold;
}

.form-style-21 fieldset {
	margin-top:21px;
}

button.no-style-button {
	margin-bottom:0;
	border:none;
	background-color:transparent;
	min-width: 100px;
}

input.date {
	background-image: url(../img/icone_calendario.png);
	background-position: 98% 6px;
	background-repeat:no-repeat;
}

input.date.off {
	background-image:none;
}

.input-filter {
	background-image: url(../img/icone_lupa.png);
	background-position: 98% 6px;
	background-repeat:no-repeat;
}

.form-conhecimento-tecnicos div fieldset.box {
	width:89%;
}

.form-conhecimento-tecnicos .span4 {
	margin-left:0;
}

/* ==========================================================================
	dropdown-menu
========================================================================== */
.box-notification-menu li .dropdown-menu ul li {
	display:block;
}

.navigation .dropdown-menu .more {
	width:100%;
	display:block;
	padding: 10px 0;
	font-size:11px;
	text-align: center;
	background-color: #ff5a00;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.navigation .dropdown-menu .more span {
	text-shadow: 0 1px #333;
	color:#fff;
}

.navigation .dropdown-menu {
	padding: 0;
	border: none;
	border-radius: 3px;
	margin-top: 5px;
}

.select-cycle .btn.dropdown-toggle {
	background:#01212e;
	border:0;
	color:#fff;
	text-shadow: none;
	border-radius: 2px;
}

.select-cycle.open .btn.dropdown-toggle {
	background-color:#fe8100;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.select-cycle .dropdown-toggle {
	width:130px;
	height:20px;
	position: relative;
	padding: 4px 5px;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

.select-cycle .dropdown-toggle .caret {
	position: absolute;
	right: 7px;
	top:4px;
	border-top-color: #066183;
}

.select-cycle.open .dropdown-toggle .caret {
	border-top-color: #fff;
}

.select-cycle.open ul.dropdown-menu {
	margin:0;
	padding:10px 0 0;
	border:0;
	border-radius:2px;
	border-top-left-radius: 0;
	box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.4); 
}

.select-cycle ul.dropdown-menu:after {
	display: none;
}
.dropdown-menu li > a {
	padding-left:10px;
	border-top: 1px #633200 dotted;
	color:#fff;
	font-size: 13px;
}
.dropdown-menu li > a:hover {
	background-color: transparent !important;
	background: #ff5a00 !important;
}

.dropdown-menu li:first-child > a {
	border-top: none;
}

.dropdown-menu {
	min-width: 200px;
	background-color:#fe8100;
}
.dropdown-menu-alert {
	min-width: 200px;
	background-color:#fe8100;
	top: 115%;
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	   -moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	        box-shadow: 0px 0px 15px rgba(0,0,0,1);
}
.dropdown-menu:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 129, 0, 0);
	border-bottom-color: #ff8100;
	border-width: 6px;
	left: 50%;
	margin-left: -134px;
}

.tooltip1.dropdown-menu {
	min-width: 220px;
	left:170px;
	background-color: #fbe2a5;
}

fieldset.disciplines .tooltip1.dropdown-menu {
	left: 140px;
}

.tooltip1.dropdown-menu li {
	padding: 4px 15px;
	color: #333;
	font-size: 0.9em;
}

.tooltip1.dropdown-menu:after {
	margin-left: 0;
	left:6.5%;
	border-bottom-color:#fbe2a5;
}


/* ==========================================================================
	relatórios
========================================================================== */
.table-report-result {
	width:100%;
	margin-bottom:38px;
}

.table-report-result thead th.table-result-caption {
	background-color:#115b76;
	text-align:center;
}

.table-report-result thead td {
	border-right:1px #000 solid;
	font-size:12px;
	text-align:center;
}

.table-report-result thead td:last-child {
	border-right: 0;
}

.table-report-result thead td span.padding {
	padding:0 11px;
}

.table-report-result tbody td span.padding {
	display:block;
	padding:11px;
}

.lt-ie9 .form-report .span4 {
	width:320px;
}

.lt-ie9 .form-report .span2 {
	width:150px;
}

.lt-ie9 .form-report fieldset.box-fluid-half select {
	width:300px;
}

.lt-ie9 .form-report fieldset.box-fluid-half label {
	width:120px;
}


/* ==========================================================================
	breadcrumb
========================================================================== */
hgroup.is-breadcrumb {
}

hgroup.is-breadcrumb h2 {
	color:#73adba;
}


/* ==========================================================================
	permissões
========================================================================== */
.table-permission {
	width:100%;
}

.table-permission th.status {
	width: 200px;
}

.table-permission th:first-child,
.table-permission td:first-child span {
	text-align:left;
}

fieldset.filter.border {
	margin:30px 0;
	border-top:1px #b9c8cc solid;
	border-bottom:1px #b9c8cc solid;
}

fieldset.filter select {
	margin:8px 0;
}

.table-permission td select {
	margin: 5px 10px;
}


/* ==========================================================================
	desafios tecnologicos
========================================================================== */
.table-default tbody td span ul {
	color: #ff8400;
}
.table-default tbody td span ul li {
	font-size: 1.0em;
	list-style-type: square;
	margin-left: 25px;
}
.table-default tbody td span ul li span {
	color: #666;
}

/* ==========================================================================
	cadastrar profissionais
========================================================================== */
#professional-status .label-filter {
	display:inline-block;
	line-height: 30px;
	float: left;
	margin-right: 7px;
}

#professional-status table td br {
	margin-bottom: 20px;
}

.box-input-key {
	display: block;
	float: left;
	margin-bottom: 25px;
	margin-right: 11px;
	position: relative;
}

.box-input-key span {
	display: block;
	padding-left: 20px;
	position: absolute;
	bottom: -17px;
	background: url(../img/icone_tooltip.png);
	background-repeat: no-repeat;
}

.box-input-key span a {
	color:#06f;
	text-decoration: underline;
}


/* ==========================================================================
	areas de conhecimento
========================================================================== */
.frm-areasconhecimento input {
	margin:0;
}
.frm-areasconhecimento fieldset {
	margin-top:21px;
}
.frm-areasconhecimento select {
	margin-bottom: 0px;
}
.filter-macro {
	margin-bottom: 5px;
}
.table-default tbody td div {
	max-width: 350px;
}
.table-default tbody td div.n1 {
	background: transparent url("../img/icone_nivel_1.png") no-repeat 0 0;
	margin: 8px 0 0 8px;
	padding-left: 25px;
}
.table-default tbody td div i {
	display: block;
	font-size: 1.0em;
	font-weight: normal;
	margin-bottom: 12px;
}
.table-default tbody td div ul {
	color: #666;
	font-size: 1.0em;
	margin: 0 0 10px 40px;
	padding-left: 25px;
}
.table-default tbody td div ul:first-child {
	background: transparent url("../img/icone_nivel_2.png") no-repeat 0 0;
}

/* ==========================================================================
*cadastrar disciplina
*excessão para extilização do tooltip do bootstrap
========================================================================== */
.register-discipline .tooltip.top {
	left: -5px !important;
}

.register-discipline .tooltip .tooltip-inner {
	background-color: #033649;
	border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
}

.register-discipline .tooltip .tooltip-arrow {
	border-top-color: #033649; 
	left: 10%;
}


/* ==========================================================================
	tabelas adm default
========================================================================== */
.title-table-default {
	background-color: #08465d;
	border-left: 1px #00212d solid;
	border-right: 1px #00212d solid;
	color: #fff;
	display: block;
	font-size: 1.2em;
	line-height: 18px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
.box-table-default {
	border: 1px #b9c8cc solid;
	height: 245px;
	overflow-x: auto; 
}
.table-default {
	min-height: 200px;
	overflow: scroll;
	width:100%;
}
.table-default thead th {
	height:auto;
}
.table-default tbody td {
	border: none;
}
.table-default tbody td span {
	color: #666;		
}
.table-default tbody tr td:first-child {
	color:#018fb0;
	text-decoration:underline;
}
.table-default tbody td .line-group {
	float: left;
	padding: 10px;
}
.table-default tbody td .line-second, .table-default tbody td span.title, .table-default tbody td a.title {
	color:#018fb0;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	max-width: 350px;
}


/* ==========================================================================
	icones específico(?) Administrativo 
========================================================================== */

table a.ico-adm,
form a.ico-adm {
	display: inline-block !important;
	margin: 2px;
	text-indent: -9999px;
	opacity: 0.2;	
	-moz-opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}
table td:hover a.ico-adm,
form li:hover a.ico-adm {
	-moz-opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.ico-adm-edit {
	background-image: url(../img/ico_adm_editar.png);
}
table .ico-adm-delete, ul .ico-adm-delete {
	background-image: url(../img/ico_adm_delete.png);
	background-position-x: 10px;
	background-position-y: 10px;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 16px;
	width: 16px;
}
ul .ico-adm-delete {
	background-position-x: 0;
	background-position-y: 0;
} 


/* ==========================================================================
	lista adm default
========================================================================== */
ul.adm-list {
	margin: 18px 0 30px 0;
}
ul.adm-list li {
	border-bottom: 1px dotted #666;
	color: #018fb0;
	font-size: 1.1em;
	list-style: none;
	padding: 6px;
	padding-right: 30px;
	position: relative;
}
ul.adm-list li:hover {
	background: #d5e8f0;
	color: #03657c;
}
ul.adm-list li a {
	top: 5px;
	right: 8px;
	position: absolute;
}


/* ==========================================================================
	compatibilidade entre browsers
========================================================================== */
.lt-ie9 .accordion-no-scroll .collapse.in {
	overflow:inherit;
}

.lt-ie9 .tooltip1.dropdown-menu {
	left:145px;
}

.lt-ie9 fieldset.disciplines .tooltip1.dropdown-menu {
	left: 110px;
}

.lt-ie9 .form-conhecimento-tecnicos .span4 {
	width: 370px;
}

.lt-ie9 #new-professional .span4 {
	width: 320px;
}

.lt-ie9 #new-professional .span2 {
	width:48%;
}

.lt-ie9 #professional-status table td.td-ico {
	width:6%;
}

.lt-ie9 .btn {
	min-width: 135px;
}

/* Validação com o Vitor, by Jean Ximenes */
.legend button {
	color: #018fb0;
	font-size: 12px;
	font-weight: bold;
}
.btn-group {
	vertical-align: 0;
}


/* ==========================================================================
	loading, usando o modal do bootstrap
========================================================================== */
#modalLoading {
	padding:20px 0;
	width:100%;
	height:100%;
	background-color: #000 !important;
	opacity: 0.8;
	filter: alpha(opacity=80);
	margin:0 !important;
	top:0 !important;
	left:0 !important;
}
#modalLoading img {
	width:32px;
	height:32px;
	display: block;
	margin:22% auto 0;
}