/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html { background: #f5f2e0; }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #868268;
}

a { text-decoration: underline; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-style: italic;
}

/* Basic Structure
   ========================================================================== */

.wrapper {
    position: relative;
    padding: 2em;
}

/*
 Logo
 */

.logo {
    width: 4em;
    height: 4em;
    line-height: 4em;
    margin: 0 auto 1em;
    text-align: center;
    /* Border Radius */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
}

.logo img {
    position: relative;
    top: -0.1em;
    max-width: 80%;
    /* Opacity */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
}


/* Main Content
   ========================================================================== */

/*
 About
 */

.about-header {
    margin-bottom: 3em;
    text-align: center;
 }

.about-header h1 {
    margin: 0 0 0.2em 0;
    font-size: 1.5em;
}

.about-header h2 {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    /* Opacity */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
}

/*
 About Text
 */

.about {
    margin-bottom: 4em;
    font-size: 1em;
    line-height: 1.6em;
}

.about a {
    font-weight: bold;
}

/*
 Dribbble Shots
 */

.dribbble-shots {
    overflow: hidden;
    margin-bottom: 3em;
}

.dribbble-shots h3 {
    margin: 0 0 1em;
    font-size: 1.3em;
    line-height: 0.9em; }

#dribbble {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

#dribbble li {
    margin-bottom: 0.5em;
}

#dribbble li:hover {
    /* Opacity */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
}

#dribbble img {
    width: 100%;
}


/* Footer
   ========================================================================== */

.contact {
    padding-top: 2em;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.contact p {
    margin-bottom: 2.3em;
}

.contact h2,
.contact h3 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

/*
 Social links
 */

.social {
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

.social a {
    display: block;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    text-decoration: none;
}

.social img {
    padding: 0.5em;
    border-right: 1px dotted rgba(0,0,0,0.4);
    /* Opacity */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
}

.social a,
.social img {
    /* Transition */
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; 
}

.social span {
    display: inline-block;
    margin-left: 0.3em;
}

.social a:hover {
    background: #fff;
}

.social a:hover img {
    /* Opacity */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
}

.social a:active {
    background: #cfc9a6;
    /* Box Shadow */
        -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
        box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
}


/* Theming
   ========================================================================== */

.theme-green a { color: #0dd1b4; }
.theme-orange a { color: #f48458; }
.theme-pink a { color: #f97dcd; }

.theme-green .logo { background: #0dd1b4; }
.theme-orange .logo { background: #f48458; }
.theme-pink .logo { background: #f97dcd; }

.menu a { color: #d1ccae; }
.theme-green .ux a, .theme-green .ux a:hover { color: #0dd1b4; }
.theme-orange .menu a:hover { color: #d35727; }
.theme-orange .about a, .theme-orange .about a:hover { color: #f48458; }

.theme-green h1,
.theme-green h2,
.theme-green h3,
.theme-green h4,
.theme-green h5,
.theme-green h6 {
    color: #0dd1b4;
}

.theme-orange h1,
.theme-orange h2,
.theme-orange h3,
.theme-orange h4,
.theme-orange h5,
.theme-orange h6 {
    color: #f48458;
}

.theme-pink h1,
.theme-pink h2,
.theme-pink h3,
.theme-pink h4,
.theme-pink h5,
.theme-pink h6 {
    color: #f97dcd;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (min-width: 20em) {

    #dribbble li {
        float: left;
        width: 50%;
        margin: 0;
        border: 0.3em solid transparent;
        /* Box Sizing */
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
             -ms-box-sizing: border-box;
             box-sizing: border-box;
    }

    #dribbble img {
        width: 100%;
    }

}


@media only screen and (min-width: 32em) {

     #dribbble li {
        width: 33%;
    }

}

@media only screen and (min-width: 42em) {

    .header {
        position: absolute;
        top: 2em;
        left: 2em;
    }

    .about-header {
        position: absolute;
        top: 4em;
        left: 12em;
        text-align: left;
    }

    .about {
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .main {
        padding-top: 10em;
    }

    .contact {
        text-align: center;
    }

    .social li {
        display: inline-block;        
        margin: 0 0.4em 0.4em 0;
    }

    .social a {
        background: #e2dec5;
        border: none;
        /* Border Radius */
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
    }

    .social img {
        padding: 1em;
        border: none;
    }

    .social span {
        display: none;
    }

}

@media only screen and (min-width: 46em) {

    #dribbble li {
        width: 25%;
    }

}

@media only screen and (min-width: 64em) {

    .header {
        position: fixed;
        top: 2em;
        left: 4em;
    }

    .logo {
        width: 5em;
        height: 5em;
    }

    .logo img {
        top: 0.35em;
    }

    .main {
        max-width: 53em;
        padding-top: 2.5em;
        padding-left: 18em;
    }

    .about-header {
        position: static;
        margin-bottom: 4.7em;
    }

    .about-header h1 {
        font-size: 2.6em;
    }

    .about-header h2 {
        font-size: 1.6em;
    }

    #dribbble li {
        float: none;
        display: inline-block;
        width: auto;
        margin: 0 0.5em 0.5em 0;
        border: none;
    }

    .contact {
        position: fixed;
        top: 14em;
        left: 2em;
        width: 14em;
        border: none;
        font-size: 0.9em;
        text-align: left;
    }

    .social {
        position: relative;
        top: -1em;
    }

    .social li {
        display: block;
        margin: 0;
    }

    .social a {
        display: block;
        background: none;
        border-bottom: 1px dotted rgba(0,0,0,0.2);
        /* Border Radius */
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -o-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
    }

    .social img {
        padding: 0.1em 0.3em;
        border-right: 1px dotted rgba(0,0,0,0.4);
    }

    .social span {
        display: inline-block;
        margin-left: 0.3em;
    }


}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
